APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=go_starter
DB_SSLMODE=disable
JWT_SECRET=very-secure-secret

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=go-starter
S3_FORCE_PATH_STYLE=true
S3_PUBLIC_URL=http://localhost:9000/go-starter
